{
        admin off
        persist_config off
        auto_https off

  {$CADDY_GLOBAL_OPTIONS}

  log {
    format json
    output stderr
    level DEBUG
  }

        frankenphp {
                {$FRANKENPHP_CONFIG}
        }
}

{$CADDY_EXTRA_CONFIG}

:{$PORT:80} {
  
    root * /app
  


        file_server {
                hide .git
                hide .env*
        }

        {$CADDY_SERVER_EXTRA_DIRECTIVES}

        php_server
}
